.container-gallery {
  /* 	width: 80%; */
  column-count: 4;
  margin: 0 auto;
  padding-bottom: 5rem;

  .gallery-image {
    visibility: hidden;
  }

  .grid-item img {
    width: 100%;
    height: auto;
    margin: 1rem;
    opacity: 1;
    transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
  }

  .fadeIn {
    animation: animat_show 1.5s;
    visibility: visible !important;
  }

  @keyframes animat_show {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .grid-item:hover img {
    opacity: 0.65;
  }
}

@media only screen and (max-width: 768px) {
  .container-gallery {
    column-count: 3;
  }
}

@media only screen and (max-width: 450px) {
  .container-gallery {
    column-count: 2;
  }
}
